{% extends 'base.html.twig' %}
{% block title %}Upload test{% endblock %}
{% block body %}
  <div class="container container-fluid">
     {{ form_start( form ) }}
    {{ form_widget( formulaire . nom ) }}
    {{ form_widget( form . lastName ) }}
    <ul  class = "files"  data-prototype = "{{ form_widget( form . files . vars . prototype ) | e ( ' html_attr ' ) }} " >
        {% for form . files %}
            <li>
                {{ form_widget( form . files ) }}
            </li>
        {% endfor %}
    </ul >
    <input type="submit" value = " Créer " /> 
    {{ form_end( form ) }}

    <ul>
        <li>
            <a  href = " {{ path( ' user_index ' ) }} " >Retour à la liste</a>
        </li >
    </ul>
  </div>
{% endblock %}