<p>Bonjour, les informations de la prestation Qualiopi pour {{ app.user.usernames }} : <br />

<p>Prenom : {{ el1 }} </p>
<p>Nom : {{ Nom }} </p>
<p>Raison_sociale : {{ Raison_sociale}} </p>
<p>SIRET : {{ SIRET }} </p>
<p>Adresse : {{ Adresse }} </p>
<p>siteweb: {{ siteweb }} </p>
<p>Dossier_de_candidature : {{ dossierdecandidature }} </p>
<p>Comment une personne doit faire pour s’inscrire à une formation chez vous? : {{element1 }} </p>
<p>Expliquer votre protocole d’objectifs évaluables : {{ element3 }} </p>
<p>Déroulé de votre journée de formation: {{ element4 }} </p>
<p>Test du niveau Entrée: {{ element5 }} </p>
<p>Expliquez nous comment vous adaptez la formation à vos bénéficiaires (situation de handicap, groupe de niveau, autre…): {{ element6 }} </p>
<p>Expliquez nous votre processus après la formation : {{ element7 }} </p>
<p>Expliquez nous les mesures que vous avez mis en place pour éviter les abandons ou le décrochage: {{ element9 }} </p>
<p>Plan de formation continue n-1 + année en cours + n+1 : {{ element11 }} </p>
<p>Recueil, analyse et traitement des appréciations des parties prenantes : {{ element13 }} </p>
<p>Expliquez-nous les choses mis en place dans votre organisme de formation en vue de l’amélioration continue : {{ element14 }} </p>

